[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = "*"
pylint = "*"
rope = "*"
black = "*"

[packages]
"boto3" = "*"
peewee = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
